<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Diferenciais</h2>
                    <h3 class="section-subheading text-muted">Por que nos destacamos</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Cloud Native</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Somos especializados e certificados em Arquitetura Cloud, tanto privada como publica.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Metodologias</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Capacitação de novos colaboradores no mundo de metodologias ágeis desde o começo do processo de desenvolvimento e automação.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Equipe</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Somos um grupo de consultores com bastante tempo no mercado corporativo nacional e internacional, passando por empresas de Telecom, Bancos Privados e Fintechs.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Motivação</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Somos obcecados por resultados, métricas e inovação.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Faça parte
                                    <br>da nossa
                                    <br>História!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>